

<div class="main-wrapper">


  <div class="breadcrumb-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="breadcrumb-list">
            <nav aria-label="breadcrumb" class="page-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Pages</li>
                <li class="breadcrumb-item">Students Grid</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="showing-list">
            <div class="row">
              <div class="col-lg-6">
                <div class="d-flex align-items-center">
                  <div class="view-icons">
                    <a href="students-grid.html" class="grid-view active"><i class="feather-grid"></i></a>
                    <a href="students-list.html" class="list-view"><i class="feather-list"></i></a>
                  </div>
                  <div class="show-result">
                    <h4>Showing 1-9 of 50 results</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user1.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">Charles Dickens</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>Iceland</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user2.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">Gabriel Palmer</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>France</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user3.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">James Lemire</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>Italy</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user4.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">Olivia Murphy</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>Brazil</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user5.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">Rebecca Swartz</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>Louisiana</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user6.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">Betty Richards</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>Iceland</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user14.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">Jeffrey Montgomery</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>United Kingdom</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user11.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">Brooke Hayes</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>United States</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user12.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">Gertrude D. Shorter</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>Louisiana</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user13.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">David L. Garza</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>Spain</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user4.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">Vivian E. Winders</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>Tunisia</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-profile.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/user/user5.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-profile.html">Sean K. Leon</a></h5>
                  <h6>Student</h6>
                  <div class="loc-blk d-flex align-items-center justify-content-center">
                    <img src="assets/img/students/loc-icon.svg" class="me-1" alt>
                    <p>United States</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <ul class="pagination lms-page">
                <li class="page-item prev">
                  <a class="page-link" href="javascript:void(0);" tabindex="-1"><i class="fas fa-angle-left"></i></a>
                </li>
                <li class="page-item first-page active">
                  <a class="page-link" href="javascript:void(0);">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">5</a>
                </li>
                <li class="page-item next">
                  <a class="page-link" href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>




</div>


