<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Dreams LMS</title>

  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.svg">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

  <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/assets/plugins/feather/feather.css">

  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<div class="login-wrapper">
  <div class="loginbox">
    <div class="w-100">
      <div class="img-logo">
        <img src="assets/img/bna(2).png" class="img-fluid" alt="Logo">
        <div class="back-home">
          <a href="/acceuil">Back to Home</a>
        </div>
      </div>
      <h1>Sign into Your Account</h1>

      <!-- FORMULAIRE ANGULAR -->
      <form (ngSubmit)="onLoggedin()" #loginForm="ngForm" novalidate>
        <div class="input-block">
          <label class="form-control-label">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter your email address"
            required
            [(ngModel)]="user.username"
            name="username"
            #username="ngModel"
          />
          <div *ngIf="username.invalid && username.touched" class="text-danger">
            Email is required and must be valid.
          </div>
        </div>

        <div class="input-block">
          <label class="form-control-label">Password</label>
          <div class="pass-group">
  <input
    [type]="showPassword ? 'text' : 'password'"
    class="form-control pass-input"
    placeholder="Enter your password"
    required
    [(ngModel)]="user.password"
    name="password"
    #password="ngModel"
  />
  <mat-icon class="toggle-password" (click)="showPassword = !showPassword">
    {{showPassword ? 'visibility_off' : 'visibility'}}
  </mat-icon>
</div>
          <div *ngIf="password.invalid && password.touched" class="text-danger">
            Password is required.
          </div>
        </div>

        <div *ngIf="erreur" class="alert alert-danger mt-2">
          {{ message }}
        </div>

        <div class="forgot">
          <span><a class="forgot-link" href="forgot-password.html">Forgot Password ?</a></span>
        </div>

        <div class="remember-me">
          <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">
           Remember-me
            <input type="checkbox" formControlName="terms" />
            <span class="checkmark"></span>
          </label>
        
        </div>

        <div class="d-grid">
          <button
            class="btn btn-primary btn-start"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Sign In
          </button>
        </div>
      </form>
      <!-- FIN FORMULAIRE ANGULAR -->

    </div>
  </div>

  <div class="google-bg text-center mt-4">
    <span><a href="#">Or sign in with</a></span>
    <div class="sign-google">
      <ul>
        <li>
          <a href="#">
            <img src="/assets/img/net-icon-01.png" class="img-fluid" alt="Google Logo" />
            Sign In using Google
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/img/net-icon-02.png" class="img-fluid" alt="Facebook Logo" />
            Sign In using Facebook
          </a>
        </li>
      </ul>
    </div>
    <p class="mb-0 mt-3">New User ? <a href="register.html">Create an Account</a></p>
  </div>
</div>


<script src="/assets/js/jquery-3.7.1.min.js" type="d20cb0460a84c28683703d7d-text/javascript"></script>

<script src="/assets/js/bootstrap.bundle.min.js" type="d20cb0460a84c28683703d7d-text/javascript"></script>

<script src="/assets/js/owl.carousel.min.js" type="d20cb0460a84c28683703d7d-text/javascript"></script>

<script src="/assets/js/script.js" type="d20cb0460a84c28683703d7d-text/javascript"></script>
<script src="/assets/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="d20cb0460a84c28683703d7d-|49" defer></script></body>
</html>
