
.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 0.95rem;
}

.custom_check {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  user-select: none;
}

.custom_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom_check .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 4px;
}

.custom_check input:checked ~ .checkmark {
  background-color:#36BF71;
}

.custom_check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom_check input:checked ~ .checkmark:after {
  display: block;
}

.custom_check .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}