<!doctype html>
<html  lang="en">
<head>
  <meta charset="utf-8">
  <title>ecommerce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<ul class="menu2">
  <li><a href="#home">Accueil</a></li>
  <li>
    <a href="#services">Services</a>
    <ul class="submenu2">
      <li><a href="#web">Développement Web</a></li>
      <li><a href="#mobile">Développement Mobile</a></li>
      <li><a href="#cloud">Services Cloud</a></li>
    </ul>
  </li>
  <li><a href="#about">À propos</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
<div class="bloc">
  <button>Home</button>
  <button>Login</button>
</div>
<header class="header">
  <h1>WooCommerce.</h1>
  <h2>PrestaShop, une référence dans la création  de site marchand</h2>
</header>
<section class="hero">
  <div class="hero-text">
    <h1>Your ecommerce.<br>  Your brand . Your rules.</h1>
    <p>PrestaShop offers you a highly flexible and scalable e-commerce platform
   to launch an online business 100% owned and designed by you .
    </p>
    <button> Get started</button>
  </div>
  <img src="assets/vecteezy_shop-marketing-3d-icon-illustration-for-your-website-user_9418828.png" alt="Ecommerce showcase" class="hero-image">
</section>
<form id="contact">
  <!-- Nom -->
  <label for="nom"><u><i>Nom</i></u> :</label>
  <input type="text" id="nom" placeholder="Entrer votre nom ici">
  <br><br>
  <!-- Champ ReadOnly -->
  <label for="readOnly"><s>Prénom</s> :</label>
  <input id="readOnly" type="text"  placeholder="readOnly" readonly>
  <!-- Champ Disabled -->
  <label for="disabled"><s>Prénom</s> :</label>
  <input id="disabled" type="text"  placeholder="disabled" disabled>
  <label for="password">password:</label>
  <input id="password" type="password"  placeholder="password"   minlength="6" required>
  <!-- Sexe -->
  <label> Séléctionner votre sexe : </label>
  <input type="radio" id="homme" name="sexe" value="homme">
  <label> Homme </label>
  <input type="radio" id="femme" name="sexe" value="femme">
  <label> femme </label>
  <!-- Langues préférées -->
  <label> Séléctionner votre langues préférées  : </label>
  <input type="checkbox" id="Francais" value="fr">
  <label for="Francais">Français</label>
  <input type="checkbox" id="anglais" value="en">
  <label for="anglais">Anglais</label>
  <br><br>
  <label>Séléctionner votre pays :</label>
  <select multiple>
    <option>Tunisie</option>
    <option>Italie </option>
    <option>France </option>
  </select>
  <select >
    <option>Tunisie</option>
    <option>Italie </option>
    <option>France </option>
  </select>
  <label for="avatar">Choisissez votre avatar :</label>
  <input type="file" id="avatar">
</form>
<footer class="footer">
  <p>&copy; 2025 Woocommerce. All rights reserved.</p>
</footer>

</body>
</html>
