

<div class="main-wrapper">


  <h1>{{title}}</h1>

  <section class="course-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="col-md-4 col-sm-12">

              <div class="blog grid-modern">
                <div class="blog-image">
                  <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-14.jpg" alt></a>
                </div>
                <div class="blog-modern-box">
                  <h3 class="blog-title"><a href="blog-details.html">Learn Webs Applications Development from Experts</a></h3>
                  <div class="blog-info clearfix mb-0">
                    <div class="post-left">
                      <ul>
                        <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>Jan 20, 2022</li>
                        <li><img class="img-fluid" src="assets/img/icon/icon-24.svg" alt>Programming, Angular</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4 col-sm-12">

              <div class="blog grid-modern">
                <div class="blog-image">
                  <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-15.jpg" alt></a>
                </div>
                <div class="blog-modern-box">
                  <h3 class="blog-title"><a href="blog-details.html">Expand Your Career Opportunities With Python</a></h3>
                  <div class="blog-info clearfix mb-0">
                    <div class="post-left">
                      <ul>
                        <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>Jun 10, 2022</li>
                        <li><img class="img-fluid" src="assets/img/icon/icon-24.svg" alt>Programming, Web Design</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4 col-sm-12">

              <div class="blog grid-modern">
                <div class="blog-image">
                  <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-16.jpg" alt></a>
                </div>
                <div class="blog-modern-box">
                  <h3 class="blog-title"><a href="blog-details.html">Learn Mobile Applications Development from Experts</a></h3>
                  <div class="blog-info clearfix mb-0">
                    <div class="post-left">
                      <ul>
                        <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>March 14, 2022</li>
                        <li><img class="img-fluid" src="assets/img/icon/icon-24.svg" alt>Programming, React</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4 col-sm-12">

              <div class="blog grid-modern">
                <div class="blog-image">
                  <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-17.jpg" alt></a>
                </div>
                <div class="blog-modern-box">
                  <h3 class="blog-title"><a href="blog-details.html">Complete PHP Programming Career Guideline</a></h3>
                  <div class="blog-info clearfix mb-0">
                    <div class="post-left">
                      <ul>
                        <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>Jun 19, 2022</li>
                        <li><img class="img-fluid" src="assets/img/icon/icon-24.svg" alt>Programming, Web Design</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <button [disabled]="property">envoyer</button>

            <button (click)="onClick()">Click me </button>
            <input type="text" [(ngModel)]="name">
            <p>Hello, {{name}}</p>
<p *ngIf="isvisible; else block">produit ajouté avec success!</p>
            <p *ngIf="!isvisible">produit  non ajouté</p>
<ng-template #block>
  probleme
</ng-template>
            <ul>
              <li *ngFor="let item of items">{{item}}</li>
            </ul>
            <p  [ngStyle]="{'color': isactive?'green':'red'}">ce text change du couleur</p>
            <button  [ngStyle]="{'background-color':currentColor}" (click)=" changeColor()">color change</button>
            <button [ngClass]="buttonClass" (click)="toggleColor()">toggle color</button>
            <div class="col-md-4 col-sm-12">

              <div class="blog grid-modern">
                <div class="blog-image">
                  <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-18.jpg" alt></a>
                </div>
                <div class="blog-modern-box">
                  <h3 class="blog-title"><a href="blog-details.html">Programming Content Guideline For Beginners</a></h3>
                  <div class="blog-info clearfix mb-0">
                    <div class="post-left">
                      <ul>
                        <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>Nov 05, 2022</li>
                        <li><img class="img-fluid" src="assets/img/icon/icon-24.svg" alt>Programming, Php</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4 col-sm-12">

              <div class="blog grid-modern">
                <div class="blog-image">
                  <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-19.jpg" alt></a>
                </div>
                <div class="blog-modern-box">
                  <h3 class="blog-title"><a href="blog-details.html">The Complete JavaScript Course for Beginners</a></h3>
                  <div class="blog-info clearfix mb-0">
                    <div class="post-left">
                      <ul>
                        <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>Dec 11, 2022</li>
                        <li><img class="img-fluid" src="assets/img/icon/icon-24.svg" alt>Programming, Web Design</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4 col-sm-12">

              <div class="blog grid-modern">
                <div class="blog-image">
                  <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-14.jpg" alt></a>
                </div>
                <div class="blog-modern-box">
                  <h3 class="blog-title"><a href="blog-details.html">Learn Webs Applications Development from Experts</a></h3>
                  <div class="blog-info clearfix mb-0">
                    <div class="post-left">
                      <ul>
                        <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>Jun 14, 2022</li>
                        <li><img class="img-fluid" src="assets/img/icon/icon-24.svg" alt>Programming, Course</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4 col-sm-12">

              <div class="blog grid-modern">
                <div class="blog-image">
                  <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-15.jpg" alt></a>
                </div>
                <div class="blog-modern-box">
                  <h3 class="blog-title"><a href="blog-details.html">Expand Your Career Opportunities With Python</a></h3>
                  <div class="blog-info clearfix mb-0">
                    <div class="post-left">
                      <ul>
                        <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>May 18, 2022</li>
                        <li><img class="img-fluid" src="assets/img/icon/icon-24.svg" alt>Programming, Web Design</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4 col-sm-12">

              <div class="blog grid-modern">
                <div class="blog-image">
                  <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-16.jpg" alt></a>
                </div>
                <div class="blog-modern-box">
                  <h3 class="blog-title"><a href="blog-details.html">Learn Mobile Applications Development from Experts</a></h3>
                  <div class="blog-info clearfix mb-0">
                    <div class="post-left">
                      <ul>
                        <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>Sep 23, 2022</li>
                        <li><img class="img-fluid" src="assets/img/icon/icon-24.svg" alt>Programming, Course</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <ul class="pagination lms-page">
                <li class="page-item prev">
                  <a class="page-link" href="javascript:void(0);" tabindex="-1"><i class="fas fa-angle-left"></i></a>
                </li>
                <li class="page-item first-page active">
                  <a class="page-link" href="javascript:void(0);">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">5</a>
                </li>
                <li class="page-item next">
                  <a class="page-link" href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>




</div>

