

<div class="main-wrapper">



  <section class="home-slide d-flex align-items-center">
    <div class="container">
      <div class="row ">
        <div class="col-md-7">
          <div class="home-slide-face aos" data-aos="fade-up">
            <div class="home-slide-text ">
              <h5>The Leader in Online Learning</h5>
              <h1>Engaging & Accessible Online Courses For All</h1>
              <p>Own your future learning new skills online</p>
            </div>
            <div class="banner-content">
             
            </div>
          
          </div>
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <div class="girl-slide-img aos" data-aos="fade-up">
            <img src="assets/img/bna(1).png" alt>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>